

.custom-search-form {
    display: flex;
    align-items: center; /* Align items vertically within the form */
    justify-content: center;
    gap: 20px;
    margin-bottom: 3rem;
   
    
}



.custom-search-button {
       margin: 0;
   
}
